<ng-template #loading><app-loader></app-loader></ng-template>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle [routerLink]='["../tab-event"]' value="bold">Mode Tableau</mat-button-toggle>
</mat-button-toggle-group>
<ul>
  <li *ngFor="let item of [].constructor(totalPages); let i = index">
     <a href="" (click)="setPage(i,$event)"> {{i+1}} </a>
    <!-- TODO ajouter le paginateur fonctionnel : jonathan ask us to add a material paginator -->
    <!-- <mat-paginator  [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator> -->
  </li>
</ul>
<section *ngFor="let e of events " class="main">
  <mat-card class="card-event">
    <img mat-card-image src="assets/img/{{e.photo}}"  alt="event picture">

    <mat-card-content>
      <mat-card-title [routerLink]="[e.id]">{{ e.title }}</mat-card-title>

      <p> {{ e.description }} </p>

      <p> Participants : </p>
      <!-- <article *ngIf="(listeParticipants$ | async) as participants; else loading">
        <div *ngFor="let p of participants">
          <p>{{ p.username }}</p>
        </div>
      </article> -->

      <p > Organisateurs : </p>

      <!-- <article *ngIf="(listeOrganisators$ | async) as organisateurs; else loading">
        <div *ngFor="let o of organisateurs">
          <p>{{ o.username }}</p>
        </div>

      </article> -->
      <mat-card-actions>
        <button [routerLink]="[e.id]" mat-button>Lire plus</button>
        <!-- <button mat-button [routerLink]="[e.id]" (click)="onJoin(e.id)">Rejoindre</button> -->
        <p style=text-align:right >{{ e.nbPlace - e.nbFree }} / {{ e.nbPlace }}</p>

      </mat-card-actions>

    </mat-card-content>
  </mat-card>
</section>
