.card-event {
  max-width: 300px;
  max-height: 400px;
  float: left;
  margin: 1em;
}


.mat-card {
  height:auto;
  background-color: white;
}

.mat-card-action {
  padding: 0;
  margin: 0;

}
button {
  width: 100px;
  margin-left: 80px;
  padding:10px 15px;
  cursor:pointer;
  border-radius: 10px;
  color: white;
  background-color: #336699;
}
p {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;

}

.event-mat-card {
  padding: 0;
  margin: 0;
}
.mat-card-image {
  padding: 0;
  margin: -16px -16px 0 -16px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

