.example-card {
  max-width: 300px;
  max-height: 400px;
  height: 300px;
  float: left;
  margin: 1em;
}

p{
  text-align: center;
}

mat-card img{
  margin-bottom: 0px;
}
mat-card mat-card-content p{
  margin-bottom: 0px;
  margin-top: 0px;

}
mat-card-action button {
width: 100px;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
