<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
<div class="group">
  <mat-button-toggle [routerLink]='["../tab-event"]' value="bold">Mode Tableau</mat-button-toggle>
<ul>
  <li *ngFor="let item of [].constructor(totalPages); let i = index">
    <a href="" (click)="setPage(i,$event)"> {{i+1}} </a>

  </li>
</ul>
</div>
<section *ngFor="let e of events " class="main">
  <mat-card class="card-event">
    <img mat-card-image src="assets/img/{{e.photo}}" alt="event picture">

    <mat-card-content>
      <mat-card-title [routerLink]="[e.id]">{{ e.title }}</mat-card-title>

      <p> {{ e.description }} </p>

      <p> Participants : </p>
      <!-- <article *ngIf="(listeParticipants$ | async) as participants; else loading">
        <div *ngFor="let p of participants">
          <p>{{ p.username }}</p>
        </div>
      </article> -->

      <p> Organisateurs : </p>

      <!-- <article *ngIf="(listeOrganisators$ | async) as organisateurs; else loading">
        <div *ngFor="let o of organisateurs">
          <p>{{ o.username }}</p>
        </div>

      </article> -->
      <mat-card-actions>
        <mat-button-toggle [routerLink]="[e.id]" value="bold">Lire plus</mat-button-toggle>

        <!-- <button mat-button [routerLink]="[e.id]" (click)="onJoin(e.id)">Rejoindre</button> -->
        <p style=text-align:right>{{ e.nbPlace - e.nbFree }} / {{ e.nbPlace }}</p>

      </mat-card-actions>

    </mat-card-content>
  </mat-card>
</section>
