<ng-container>
  <article *ngIf="(event$ | async) as event; else loading">
        <h1>{{ event.title }}</h1>
        <h2>{{ event.author }}</h2>
        <p>{{ event.description }}</p>
        <p>{{ event.dueAt | date: 'short'}}</p>
        <p>{{ event.author.username }}</p>
    <a [routerLink]="['../..']" (click)="delete(event.id)"> Supprimer </a>

        <article *ngIf="(listeParticipants$ | async) as participants; else loading">
            <div *ngFor="let p of participants">
                <p>{{ p.username }}</p>
            </div>
        </article>

  </article>
  <a [routerLink]="['../..']">Retour</a>

  <a [routerLink]="['edit']" >Editer</a>
</ng-container>
