
@import '../../../sass/_vars.scss';

button{
  align-content: center;
  float:left;
  cursor: pointer;
  outline:none;
  background:$main;
  color:$white;
  border:solid 2px black;
  padding:15px 10px;
  margin-right: 5px;
  font-size:1.5em;
}
