$primary: blue;
$finished: silver;
$warning-color: orange;
$main: #336699;
$main-light: lighten($main, 5%);
$main-dark: darken($main, 5%);
$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;
$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;
