<section *ngFor="let e of events | async">
  <mat-card class="example-card" id="spacer">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ e.title.substring(0,15) }}</mat-card-title>
      <mat-card-subtitle>{{ e.title.substring(0,15) }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{ e.description.substr(0,70) }}</p>
      <p>{{ e.dueAt| dateTransform }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>


</section>
