<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
<ng-container>
  <div class="display">

    <article *ngIf="(user$ | async ) as user ; else loading">
      <h1> {{ user.username }}</h1>
      <img src="assets/img/default_user.png" width="50px" alt="avatar">
      <p> Prénom : {{ user.name }}</p>
      <p> Sexe : {{ user.sex }}</p>

      <p> Situation : {{ user.marital_status }}</p>
      <p> Age : {{ user.birthDate|datetoage}} ans</p>
      <p> Ville : {{ user.city }}</p>
      <p> Description : {{ user.description }}</p>
      <p> Inscrit le : {{ user.created_at }}</p>
      <p> Dernière connexion : {{ user.last_connection_date }}</p>
      <p> Profession: {{ user.profession }} </p>
      <p> Langues parlés : {{user.Langues}}</p>
      <p> Loisirs : {{user.Loisirs }} </p>

    </article>

    <h2>Liste des événements auxquels je participe</h2>
    <article *ngIf="(listEvents$ | async) as events; else loading">
      <div *ngFor="let e of events ">
        <p>{{ e.title }}</p>
      </div>

    </article>
  </div>
  <button [routerLink]="['../..']">Retour</button>
  <button [routerLink]="['edit']">Editer</button>

</ng-container>
