@import 'vars';

  h1 {
    text-align: center;
  }

  img {
    display: flex;
border-radius: 30px;
}
  button{
    align-content: center;
    float:left;
    cursor: pointer;
    outline:none;
    background:$main;
    color:$white;
    border:solid 2px black;
    padding:15px 10px;
    margin-right: 5px;
    font-size:1.5em;
  }

.display{
  margin-left: 3px;
  margin-top: 3px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: white;
  display: table;
  border-radius: 10px;
}
