<div class="form">
  <div class="tab-content">

    <h1>Edition d'un événement.</h1>

    <form [formGroup]="eventSign" (ngSubmit)="onSubmit()">

      <div class="field-wrap">
        <input type="text" formControlName="title" placeholder="Titre" />
      </div>

      <input type="hidden" formControlName="id" />

      <div class="field-wrap">
        <input type="text" formControlName="description" placeholder="Description" />
      </div>

      <!-- <div class="field-wrap">
        <input type="text" formControlName="adresse" placeholder="Adresse" />
      </div> -->

      <div class="field-wrap">
        <input type="text" formControlName="city" placeholder="Ville" />
      </div>

      <!-- <div class="field-wrap">
    <input type="text" formControlName="Cp" placeholder="Le code postal"/>
  </div> -->

      <div class="field-wrap">
        <input type="datetime-local" formControlName="dueAt" placeholder="Date" />
      </div>

      <div class="field-wrap">
        <input type="number" formControlName="nbPlace" placeholder="Nombre de participants maximum" />
      </div>

      <input type="hidden" formControlName="enable" value="true" />

      <input type="submit" value="Valider" />

    </form>
  </div>
</div>
