menu {
  background-color: #222;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #bbb;
  opacity: 1;
  padding-right: 15px;
  overflow: hidden;
}

menu ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

menu ul li {
  border-bottom: 1px solid #2a2a2a;
}

menu>ul>li>a {
  border-left: 4px solid #222;
}

menu ul li a {
  color: inherit;
  font-size: 1.1em;
  display: block;
  padding: 8px 0 8px 7px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 600;
}

menu ul li h2 {
  padding: 15px;
}

menu ul a i {
  margin-right: 10px;
  font-size: 2em;
  margin-top: 3px;
}

menu ul a i[class*='fa-caret'] {
  float: right;
}

menu ul a:hover,
#menu ul a.active {
  background-color: #336699;
  border-left-color: #1a7ab1;
  color: #1a7ab1;
}
