@import '../../../sass/_vars.scss';

section {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

table {
  width: 100%;
}

li {
  display: inline-block;
  // float: left;

  a {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;

    &:hover {
      background-color: #111;
    }
  }
}

ul {
  list-style-type: none;
  margin-left: 45%;
}


button{
  align-content: center;
  cursor: pointer;
  outline:none;
  border:solid 2px black;
  padding:15px 10px;
  margin-right: 5px;
  font-size:1.5em;
  font-weight:$bold;
  letter-spacing:.1em;
  background:$main;
  color:$white;
  transition:all.5s ease;
  -webkit-appearance: none;


.button-block {
  width:100%;
}
}