table {
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.group {
  background-color: white;
  margin-left: 15px;
  margin-top: 2px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  .mat-button-toggle {
    cursor: pointer;
    border-radius: 10px;
    color: white;
    background-color: #336699;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2px;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #336699;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}