
<div class="form">
  <ul class="tab-group">
  <li class="tab active"><a  [routerLink]="['../sign-up']">Inscription</a></li>
  <li class="tab"><a [routerLink]="['../login']">Connexion</a></li>
</ul>

    <div class="tab-content">
        <h1>Sign Up for Free</h1>

        <form action="/" method="post">

        <div class="top-row">
          <div class="field-wrap">
            <label>
              First Name<span class="req">*</span>
            </label>
            <input type="text" required autocomplete="off" />
          </div>

          <div class="field-wrap">
            <label>
              Last Name<span class="req">*</span>
            </label>
            <input type="text"required autocomplete="off"/>
          </div>
        </div>

        <div class="field-wrap">
          <label>
            Email Address<span class="req">*</span>
          </label>
          <input type="email"required autocomplete="off"/>
        </div>

        <div class="field-wrap">
          <label>
            Set A Password<span class="req">*</span>
          </label>
          <input type="password"required autocomplete="off"/>
        </div>

        <button type="submit" [routerLink]="['../home']">Get Started</button>

        </form>

      </div>

</div>


