<div class="form">
  <ul class="tab-group">
  <li class="tab active"><a  [routerLink]="['../sign-up']">Inscription</a></li>
  <li class="tab"><a [routerLink]="['../login']">Connexion</a></li>
</ul>

<div class="tab-content">
  <h1>Inscription</h1>

  <form [formGroup]="userSign" (ngSubmit)="onSubmit()">
    <div class="top-row">
      <div class="field-wrap">
        <input type="text" formControlName="username" placeholder="Pseudonyme"/>
        <div [hidden]="username.valid || username.pristine"
          class="alert">Pseudonyme requis
        </div>
      </div>

      <div class="field-wrap">
        <input type="text" formControlName="password" placeholder="Mot de passe"/>
        <div [hidden]="password.valid || password.pristine"
          class="alert">Mot de passe requis
        </div>
      </div>

      <div class="field-wrap">
        <input type="text" formControlName="city" placeholder="Ville"/>
        <div [hidden]="city.valid || city.pristine"
          class="alert"> Ville requise
        </div>
      </div>
       <mat-form-field>
        <mat-label>Ville</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let c of city" >{{c.city}}</mat-option>
        </mat-select>
      </mat-form-field>

      <input type="hidden" formControlName="enable" value="true"/>
      <input type="hidden" formControlName="role" value="User"/>

    </div>
      <input type="submit" value="Valider" [disabled]="!userSign.valid"/>
  </form>
</div>


