* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  background-image: url("../assets/img/low-poly-realistic-texture-red-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  background-color: black;
  height: 5em;
}

header img {
  float: left;
  height: 80px;
}

header ul {
  float: right;
  width: 20%;
  min-width: 260px;
  max-width: 350px;
  margin: 10px;
}

button {
  align-content: center;
  float: right;
  outline: none;
  border: solid 2px black;
  padding: 15px 10px;
  margin-right: 5px;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

button .button-block {
  display: block;
  width: 100%;
}
