header {
  background-color: black;
  height: 5em;
}

header img {
  float: left;
  height: 80px;
}

header ul {
  float: right;
  width: 20%;
  min-width: 260px;
  max-width: 350px;
  margin: 10px;
}
