* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    overflow-y: scroll;
  }
  
  body {
    background-image: url("../assets/img/low-poly-realistic-texture-red-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

header {
    background-color: black;
    height: 5em;
  }
  
  header img {
    float: left;
    height: 80px;
  }
  
  header ul {
    float: right;
    width: 20%;
    min-width: 260px;
    max-width: 350px;
    margin: 10px;
  }