<div class="form">
  <ul class="tab-group">
  <li class="tab active"><a  [routerLink]="['../sign-up']">Inscription</a></li>
  <li class="tab"><a [routerLink]="['../login']">Connexion</a></li>
</ul>

  <h1>Welcome Back!</h1>

    <div class="field-wrap">
    <label>
      Email Address<span class="req">*</span>
    </label>
    <input type="email"required autocomplete="off"/>
  </div>

  <div class="field-wrap">
    <label>
      Password<span class="req">*</span>
    </label>
    <input type="password"required autocomplete="off"/>
  </div>

  <p class="forgot"><a href="#">Forgot Password?</a></p>

  <button >Log In</button>


