<h1>Edition du profil.</h1>

<form [formGroup]="userEdit" (ngSubmit)="onSubmit()" *ngIf="(users | async) as u">

  <div class="field-wrap">
    <input type="text" formControlName="username" placeholder="Pseudo" [value]="u.username"/>
  </div>

  <input type="hidden" formControlName="id" [value]="u.id"/>

  <div class="field-wrap">
    <input type="text" formControlName="city" placeholder="Ville" [value]="u.city"/>
  </div>

  <div class="field-wrap">
    <input type="text" formControlName="profession" placeholder = "Metier" [value]="{{u.profession}}"/>
  </div>

  <div class="field-wrap">
    <input type="datetime-local" formControlName="birthdate" placeholder="Date de naissance" [value]="u.dueAt"/>
  </div>

  <div class="field-wrap">
    <input type="text" formControlName="mail" placeholder="E-Mail" [value]="u.mail"/>
  </div>

  <div class="field-wrap">
    <input type="text" formControlName="password" placeholder="Mot de passe" [value]="u.password"/>
  </div>

  <input type="hidden" formControlName="enable" value="true"/>

  <input type="submit" value="Valider"/>

</form>
